@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@import './helpers/Forms.css';

/* CSS Variables */
:root {
	--bg-color: rgb(255, 255, 255);
	--typewriterSpeed: 4s;
	--typewriterCharacters: 15;
}

/* Global Styles */
h1 {
	position: relative;
	font-family: 'Source Code Pro', monospace;
	position: relative;
	width: max-content;
	font-size: 2.2rem;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 2rem;
}

p {
	font-family: 'Source Code Pro', monospace;
}

button {
	font-family: 'Source Code Pro', monospace;
}

/* Modal Styles */
.modal {
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	border-color: black;
}

.modal-image {
	flex: 1;
}

.modal-image img {
	width: 16rem;
	height: 20rem;
	max-width: 16rem;
}

.modal-text {
	padding: 3rem 1rem;
}

.mobile-modal {
	margin-top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	border-width: 2px;
	border-color: black;
	box-shadow: 0 2px 20px #e1e5ee;
	border-radius: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-modal-image img {
	width: 16rem;
	height: 20rem;
	max-width: 16rem;
}

.mobile-modal-text {
	padding: 1rem 1rem;
}

/* Movie Component Styles */

.movies {
	animation: fadeInLeft 2s ease forwards;
	transform: translateX(-3rem);
}

.container {
	display: grid;
	place-items: center;
	word-wrap: break-word;
}

.animatedheader::before,
.animatedheader::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.animatedheader::before {
	background: var(--bg-color);
	animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
}

.animatedheader::after {
	width: 0.125em;
	background: black;
	animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
		blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.nonanimatedheader::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
}

.nonanimatedheader::after {
	width: 0.125em;
	background: black;
	animation: blink 750ms infinite;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
	gap: 1rem;
	justify-content: center;
	margin-top: 3%;
	margin-left: 10%;
	margin-right: 10%;
}

.movie {
	box-shadow: 0 2px 20px #e1e5ee;
	border-radius: 0.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;
}

.movieanimationslow {
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.movieanimationfast {
	opacity: 0;
	transform: translateY(3rem);
	animation: fadeInUp 2s ease forwards;
}

.poster {
	height: 20rem;
	width: 20rem;
}

/* Search Component Styles */

.search {
	animation: fadeInLeft 1s ease forwards;
	transform: translateX(3rem);
}

/* Pagination Styles */

.pagination {
	justify-content: center;
	display: flex;
	padding-left: 0;
	list-style: none;
}

.page-item .page-link {
	position: relative;
	display: block;
	margin: 0 2px;
	border: 1px solid #cccccc;
	padding: 5px 10px;
	border-radius: 5px;
	color: #3778bb;
	text-decoration: none;
}

.page-item a.page-link:hover {
	background-color: #cccccc;
}

.page-item.active .page-link {
	color: #ffffff;
	background-color: #3778bb;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
}

/* Input Placeholder Style */
::placeholder {
	font-family: 'Source Code Pro', monospace;
}

:-ms-input-placeholder {
	font-family: 'Source Code Pro', monospace;
}

::-ms-input-placeholder {
	font-family: 'Source Code Pro', monospace;
}

/* Animations */
@keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInLeft {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
